# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Testing
coverage/

# Misc
.DS_Store
*.pem
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
